body {
    background-color: #fff;
    /* overflow-x: hidden; */
  }
  
  @font-face {
    font-family: 'Inter';
    src: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline/fonts/legend/ESLLegend-Light.eot);
    src: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline/fonts/legend/ESLLegend-Light.eot#iefix) format("embedded-opentype"),
    url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline/fonts/legend/ESLLegend-Light.woff2) format("woff2"),
    url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline/fonts/legend/ESLLegend-Light.woff) format("woff"),
    url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline/fonts/legend/ESLLegend-Light.ttf) format("truetype"),
    url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline/fonts/legend/ESLLegend-Light.svg#eicon) format("svg");
    font-style: normal;
    font-weight: 300;
  }
  @font-face {
    font-family: 'Inter';
    src: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline/fonts/legend/ESLLegend-Regular.eot);
    src: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline/fonts/legend/ESLLegend-Regular.eot#iefix) format("embedded-opentype"),
    url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline/fonts/legend/ESLLegend-Regular.woff2) format("woff2"),
    url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline/fonts/legend/ESLLegend-Regular.woff) format("woff"),
    url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline/fonts/legend/ESLLegend-Regular.ttf) format("truetype"),
    url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline/fonts/legend/ESLLegend-Regular.svg#eicon) format("svg");
    font-style: normal;
    font-weight: normal;
  }
  @font-face {
    font-family: 'Inter';
    src: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline/fonts/legend/ESLLegend-Bold.eot);
    src: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline/fonts/legend/ESLLegend-Bold.eot#iefix) format("embedded-opentype"),
    url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline/fonts/legend/ESLLegend-Bold.woff2) format("woff2"),
    url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline/fonts/legend/ESLLegend-Bold.woff) format("woff"),
    url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline/fonts/legend/ESLLegend-Bold.ttf) format("truetype"),
    url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline/fonts/legend/ESLLegend-Bold.svg#eicon) format("svg");
    font-style: normal;
    font-weight: bold;
  }
  
  img {
    max-width: 100%;
  }
  
  .ag-format-container {
    width: 100%px;
    margin: 0 0;
  
    position: relative;
  }
  
  .ag-timeline-block {
    padding: 0 0;
  }
  .ag-timeline_title-box {
    padding: 0 0 30px;
  
    text-align: center;
  }
  .ag-timeline_tagline {
    font-size: 16px;
    color: #627592;
    font-weight: 500;
    padding-bottom: 20px;;
  }
  .ag-timeline_title {
  
    background-repeat: no-repeat;
    background-position: 50% 50%;
    color: #000;
    background-size: cover;
    -webkit-background-clip: text;
    background-clip: text;
    font-weight: 700;
    font-size: 32px;
  }
  
  .ag-timeline_item {
    margin: 0 0 50px;
  
    position: relative;
  }
  .ag-timeline_item:nth-child(2n) {
    text-align: right;
  }
  
  .ag-timeline {
    display: inline-block;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
  
    position: relative;
  }
  .ag-timeline_line {
    width: 6px;
    background-color: #D9D9D9;
  
    position: absolute;
    top: 2px;
    left: 50%;
    bottom: 0;
  
    overflow: hidden;
  
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  
  .ag-timeline_line-progress {
    width: 100%;
    height: 20%;
    background-color: #E36B4A;
  }
  
  .ag-timeline-card_box {
    padding: 0 0 20px 50%;
  /*   background-color: #E36B4A; */
  }
  .ag-timeline_item:nth-child(2n) .ag-timeline-card_box {
    padding: 0 50% 20px 0;
  }
  .ag-timeline-card_point-box {
    display: inline-block;
    margin: 0 14px 0 -28px;
  /*   background-color: #E36B4A; */
  }
  .ag-timeline_item:nth-child(2n) .ag-timeline-card_point-box {
    margin: 0 -28px 0 14px;
  }
  .ag-timeline-card_point {
    height: 50px;
    line-height: 50px;
    width: 50px;
    border: 3px solid #E36B4A;
    background-color: #E36B4A;
  
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 25px;
    font-weight: 700;
    color: #FFF;
  
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
  }
  .js-ag-active .ag-timeline-card_point {
    color: #1d1d1b;
    background-color: #fff;
  }
  .ag-timeline-card_meta-box {
    display: inline-table;
    position: relative;

  }
  .ag-timeline-card_meta {
    margin: 10px 0 0;
  
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 28px;
    color: #000;
  }
  .ag-timeline-card_item {
    display: inline-block;
    width: 45%;
    margin: -77px 0 0;
    background-color: #282828;
    
    opacity: 0;
  
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
  
    -webkit-box-shadow: 0 0 0 0 rgba(0,0,0,.5);
    -moz-box-shadow: 0 0 0 0 rgba(0,0,0,.5);
    -o-box-shadow: 0 0 0 0 rgba(0,0,0,.5);
    box-shadow: 0 0 0 0 rgba(0,0,0,.5);
  
    -webkit-transition: -webkit-transform .5s, opacity .5s;
    -moz-transition: -moz-transform .5s, opacity .5s;
    -o-transition: -o-transform .5s, opacity .5s;
    transition: transform .5s, opacity .5s;
  
    position: relative;
  }
  .ag-timeline_item:nth-child(2n+1) .ag-timeline-card_item {
    -webkit-transform: translateX(-200%);
    -moz-transform: translateX(-200%);
    -ms-transform: translateX(-200%);
    -o-transform: translateX(-200%);
    transform: translateX(-200%);
  }
  .ag-timeline_item:nth-child(2n) .ag-timeline-card_item {
    -webkit-transform: translateX(200%);
    -moz-transform: translateX(200%);
    -ms-transform: translateX(200%);
    -o-transform: translateX(200%);
    transform: translateX(200%);
  }
  .js-ag-active.ag-timeline_item:nth-child(2n+1) .ag-timeline-card_item,
  .js-ag-active.ag-timeline_item:nth-child(2n) .ag-timeline-card_item {
    opacity: 1;
  
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    text-align: left;
  }
  .ag-timeline-card_arrow {
    height: 18px;
    width: 18px;
    margin-top: 20px;
    background-color: #282828;
  
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
  
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .ag-timeline_item:nth-child(2n+1) .ag-timeline-card_arrow {
    margin-left: calc(-18px / 2);
    margin-right: calc(-18px / 2);
  }
  .ag-timeline_item:nth-child(2n) .ag-timeline-card_arrow {
    margin-left: -10px;
  
    right: auto;
    left: 0;
  }
  .ag-timeline-card_img {
    width: 100%;
  }
  .ag-timeline-card_info {
    padding: 20px 30px;
    background-color: #fff;


    .parent-grid {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-column-gap: 2px;
      grid-row-gap: 8px;
      margin-top: 10px;
      margin-bottom: 10px;
      }
      
      .div1 { 
        grid-area: 1 / 1 / 2 / 2;

        .p{
          font-size: 10px;
        }
       }
      .div2 { 
        grid-area: 1 / 2 / 2 / 3;
        
        .p{
          font-size: 10px;
        }
      }
      .div3 { 
        grid-area: 1 / 3 / 2 / 4;
        
        .p{
          font-size: 10px;
        }
      }
      .div4 { 
        grid-area: 1 / 4 / 2 / 5;
        
        .p{
          font-size: 10px;
        }
      }
      .div5 { 
        grid-area: 2 / 4 / 3 / 5;
        
        .p{
          font-size: 10px;
        }
      }
      .div6 { 
        grid-area: 2 / 3 / 3 / 4;
        
        .p{
          font-size: 10px;
        }
      }
      .div7 { 
        grid-area: 2 / 2 / 3 / 3;
        
        .p{
          font-size: 10px;
        }
      }
      .div8 { 
        grid-area: 2 / 1 / 3 / 2;
        
        .p{
          font-size: 10px;
        }
      }

      /* drop down-1 */
      .container-l {
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
      }
      .head-l {
          display: flex;
          align-items: center;
          cursor: pointer;
      }
      .head-l .title {
          padding-right: 20px;
          font-weight: 600;
      }
      .head-l .icon {
          width: 10px;
          height: auto;
          transition: transform 0.3s;
      }
      .list {
          margin-top: 10px;
          display: none;
          row-gap: 5px;
      }
      .list.show {
          display: block;
      }
      .head-l.open .icon {
          transform: rotate(180deg);
      }

      /* drop down-2 */
      .container2 {
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
      }
      .head2 {
          display: flex;
          align-items: center;
          cursor: pointer;
      }
      .head2 .title2 {
          padding-right: 20px;
          font-weight: 600;
      }
      .head2 .icon2 {
          width: 10px;
          height: auto;
          transition: transform 0.3s;
      }
      .list2 {
          margin-top: 10px;
          display: none;
          row-gap: 5px;
      }
      .list2.show2 {
          display: block;
      }
      .head2.open2 .icon2 {
          transform: rotate(180deg);
      }

      /* drop down-3 */
      .container3 {
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
      }
      .head3 {
          display: flex;
          align-items: center;
          cursor: pointer;
      }
      .head3 .title3 {
          padding-right: 20px;
          font-weight: 600;
      }
      .head3 .icon3 {
          width: 10px;
          height: auto;
          transition: transform 0.3s;
      }
      .list3 {
          margin-top: 10px;
          display: none;
          row-gap: 5px;
      }
      .list3.show3 {
          display: block;
      }
      .head3.open3 .icon3 {
          transform: rotate(180deg);
      }

      /* drop down-4 */
      .container4 {
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
      }
      .head4 {
          display: flex;
          align-items: center;
          cursor: pointer;
      }
      .head4 .title4 {
          padding-right: 20px;
          font-weight: 600;
      }
      .head4 .icon4 {
          width: 10px;
          height: auto;
          transition: transform 0.3s;
      }
      .list4 {
          margin-top: 10px;
          display: none;
          row-gap: 5px;
      }
      .list4.show4 {
          display: block;
      }
      .head4.open4 .icon4 {
          transform: rotate(180deg);
      }

      /* drop down-5 */
      .container5 {
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
      }
      .head5 {
          display: flex;
          align-items: center;
          cursor: pointer;
      }
      .head5 .title5 {
          padding-right: 20px;
          font-weight: 600;
      }
      .head5 .icon5 {
          width: 10px;
          height: auto;
          transition: transform 0.3s;
      }
      .list5 {
          margin-top: 10px;
          display: none;
          row-gap: 5px;
      }
      .list5.show5 {
          display: block;
      }
      .head5.open5 .icon5 {
          transform: rotate(180deg);
      }

      /* drop down-6 */
      .container6 {
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
      }
      .head6 {
          display: flex;
          align-items: center;
          cursor: pointer;
      }
      .head6 .title6 {
          padding-right: 20px;
          font-weight: 600;
      }
      .head6 .icon6 {
          width: 10px;
          height: auto;
          transition: transform 0.3s;
      }
      .list6 {
          margin-top: 10px;
          display: none;
          row-gap: 5px;
      }
      .list6.show6 {
          display: block;
      }
      .head6.open6 .icon6 {
          transform: rotate(180deg);
      }

      /* drop down-7 */
      .container7 {
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
      }
      .head7 {
          display: flex;
          align-items: center;
          cursor: pointer;
      }
      .head7 .title7 {
          padding-right: 20px;
          font-weight: 600;
      }
      .head7 .icon7 {
          width: 10px;
          height: auto;
          transition: transform 0.3s;
      }
      .list7 {
          margin-top: 10px;
          display: none;
          row-gap: 5px;
      }
      .list7.show7 {
          display: block;
      }
      .head7.open7 .icon7 {
          transform: rotate(180deg);
      }

      /* drop down-8 */
      .container8 {
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
      }
      .head8 {
          display: flex;
          align-items: center;
          cursor: pointer;
      }
      .head8 .title8 {
          padding-right: 20px;
          font-weight: 600;
      }
      .head8 .icon8 {
          width: 10px;
          height: auto;
          transition: transform 0.3s;
      }
      .list8 {
          margin-top: 10px;
          display: none;
          row-gap: 5px;
      }
      .list8.show8 {
          display: block;
      }
      .head8.open8 .icon8 {
          transform: rotate(180deg);
      }

      /* drop down-9 */
      .container9 {
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
      }
      .head9 {
          display: flex;
          align-items: center;
          cursor: pointer;
      }
      .head9 .title9 {
          padding-right: 20px;
          font-weight: 600;
      }
      .head9 .icon9 {
          width: 10px;
          height: auto;
          transition: transform 0.3s;
      }
      .list9 {
          margin-top: 10px;
          display: none;
          row-gap: 5px;
      }
      .list9.show9 {
          display: block;
      }
      .head9.open9 .icon9 {
          transform: rotate(180deg);
      }

      /* drop down-10 */
      .container10 {
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
      }
      .head10 {
          display: flex;
          align-items: center;
          cursor: pointer;
      }
      .head10 .title10 {
          padding-right: 20px;
          font-weight: 600;
      }
      .head10 .icon10 {
          width: 10px;
          height: auto;
          transition: transform 0.3s;
      }
      .list10 {
          margin-top: 10px;
          display: none;
          row-gap: 5px;
      }
      .list10.show10 {
          display: block;
      }
      .head10.open10 .icon10 {
          transform: rotate(180deg);
      }

      /* drop down-11 */
      .container11 {
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
      }
      .head11 {
          display: flex;
          align-items: center;
          cursor: pointer;
      }
      .head11 .title11 {
          padding-right: 20px;
          font-weight: 600;
      }
      .head11 .icon11 {
          width: 10px;
          height: auto;
          transition: transform 0.3s;
      }
      .list11 {
          margin-top: 10px;
          display: none;
          row-gap: 5px;
      }
      .list11.show11 {
          display: block;
      }
      .head11.open11 .icon11 {
          transform: rotate(180deg);
      }

      /* drop down-12 */
      .container12 {
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
      }
      .head12 {
          display: flex;
          align-items: center;
          cursor: pointer;
      }
      .head12 .title12 {
          padding-right: 20px;
          font-weight: 600;
      }
      .head12 .icon12 {
          width: 10px;
          height: auto;
          transition: transform 0.3s;
      }
      .list12 {
          margin-top: 10px;
          display: none;
          row-gap: 5px;
      }
      .list12.show12 {
          display: block;
      }
      .head12.open12 .icon12 {
          transform: rotate(180deg);
      }

      /* drop down-13 */
      .container13 {
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
      }
      .head13 {
          display: flex;
          align-items: center;
          cursor: pointer;
      }
      .head13 .title13 {
          padding-right: 20px;
          font-weight: 600;
      }
      .head13 .icon13 {
          width: 10px;
          height: auto;
          transition: transform 0.3s;
      }
      .list13 {
          margin-top: 10px;
          display: none;
          row-gap: 5px;
      }
      .list13.show13 {
          display: block;
      }
      .head13.open13 .icon13 {
          transform: rotate(180deg);
      }

      /* drop down-14 */
      .container14 {
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
      }
      .head14 {
          display: flex;
          align-items: center;
          cursor: pointer;
      }
      .head14 .title14 {
          padding-right: 20px;
          font-weight: 600;
      }
      .head14 .icon14 {
          width: 10px;
          height: auto;
          transition: transform 0.3s;
      }
      .list14 {
          margin-top: 10px;
          display: none;
          row-gap: 5px;
      }
      .list14.show14 {
          display: block;
      }
      .head14.open14 .icon14 {
          transform: rotate(180deg);
      }

      /* drop down-15 */
      .container15 {
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
      }
      .head15 {
          display: flex;
          align-items: center;
          cursor: pointer;
      }
      .head15 .title15 {
          padding-right: 20px;
          font-weight: 600;
      }
      .head15 .icon15 {
          width: 10px;
          height: auto;
          transition: transform 0.3s;
      }
      .list15 {
          margin-top: 10px;
          display: none;
          row-gap: 5px;
      }
      .list15.show15 {
          display: block;
      }
      .head15.open15 .icon15 {
          transform: rotate(180deg);
      }

      /* drop down-16 */
      .container16 {
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
      }
      .head16 {
          display: flex;
          align-items: center;
          cursor: pointer;
      }
      .head16 .title16 {
          padding-right: 20px;
          font-weight: 600;
      }
      .head16 .icon16 {
          width: 10px;
          height: auto;
          transition: transform 0.3s;
      }
      .list16 {
          margin-top: 10px;
          display: none;
          row-gap: 5px;
      }
      .list16.show16 {
          display: block;
      }
      .head16.open16 .icon16 {
          transform: rotate(180deg);
      }

      /* drop down-17 */
      .container17 {
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
      }
      .head17 {
          display: flex;
          align-items: center;
          cursor: pointer;
      }
      .head17 .title17 {
          padding-right: 20px;
          font-weight: 600;
      }
      .head17 .icon17 {
          width: 10px;
          height: auto;
          transition: transform 0.3s;
      }
      .list17 {
          margin-top: 10px;
          display: none;
          row-gap: 5px;
      }
      .list17.show17 {
          display: block;
      }
      .head17.open17 .icon17 {
          transform: rotate(180deg);
      }

      /* drop down-18 */
      .container18 {
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
      }
      .head18 {
          display: flex;
          align-items: center;
          cursor: pointer;
      }
      .head18 .title18 {
          padding-right: 20px;
          font-weight: 600;
      }
      .head18 .icon18 {
          width: 10px;
          height: auto;
          transition: transform 0.3s;
      }
      .list18 {
          margin-top: 10px;
          display: none;
          row-gap: 5px;
      }
      .list18.show18 {
          display: block;
      }
      .head18.open18 .icon18 {
          transform: rotate(180deg);
      }

      /* drop down-19 */
      .container19 {
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
      }
      .head19 {
          display: flex;
          align-items: center;
          cursor: pointer;
      }
      .head19 .title19 {
          padding-right: 20px;
          font-weight: 600;
      }
      .head19 .icon19 {
          width: 10px;
          height: auto;
          transition: transform 0.3s;
      }
      .list19 {
          margin-top: 10px;
          display: none;
          row-gap: 5px;
      }
      .list19.show19 {
          display: block;
      }
      .head19.open19 .icon19 {
          transform: rotate(180deg);
      }

      /* drop down-20 */
      .container20 {
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
      }
      .head20 {
          display: flex;
          align-items: center;
          cursor: pointer;
      }
      .head20 .title20 {
          padding-right: 20px;
          font-weight: 600;
      }
      .head20 .icon20 {
          width: 10px;
          height: auto;
          transition: transform 0.3s;
      }
      .list20 {
          margin-top: 10px;
          display: none;
          row-gap: 5px;
      }
      .list20.show20 {
          display: block;
      }
      .head20.open20 .icon20 {
          transform: rotate(180deg);
      }

      /* drop down-21 */
      .container21 {
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
      }
      .head21 {
          display: flex;
          align-items: center;
          cursor: pointer;
      }
      .head21 .title21 {
          padding-right: 20px;
          font-weight: 600;
      }
      .head21 .icon21 {
          width: 10px;
          height: auto;
          transition: transform 0.3s;
      }
      .list21 {
          margin-top: 10px;
          display: none;
          row-gap: 5px;
      }
      .list21.show21 {
          display: block;
      }
      .head21.open21 .icon21 {
          transform: rotate(180deg);
      }

      /* drop down-22 */
      .container22 {
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
      }
      .head22 {
          display: flex;
          align-items: center;
          cursor: pointer;
      }
      .head22 .title22 {
          padding-right: 20px;
          font-weight: 600;
      }
      .head22 .icon22 {
          width: 10px;
          height: auto;
          transition: transform 0.3s;
      }
      .list22 {
          margin-top: 10px;
          display: none;
          row-gap: 5px;
      }
      .list22.show22 {
          display: block;
      }
      .head22.open22 .icon22 {
          transform: rotate(180deg);
      }

      /* drop down-23 */
      .container23 {
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
      }
      .head23 {
          display: flex;
          align-items: center;
          cursor: pointer;
      }
      .head23 .title23 {
          padding-right: 20px;
          font-weight: 600;
      }
      .head23 .icon23 {
          width: 10px;
          height: auto;
          transition: transform 0.3s;
      }
      .list23 {
          margin-top: 10px;
          display: none;
          row-gap: 5px;
      }
      .list23.show23 {
          display: block;
      }
      .head23.open23 .icon23 {
          transform: rotate(180deg);
      }

      /* drop down-24 */
      .container24 {
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
      }
      .head24 {
          display: flex;
          align-items: center;
          cursor: pointer;
      }
      .head24 .title24 {
          padding-right: 20px;
          font-weight: 600;
      }
      .head24 .icon24 {
          width: 10px;
          height: auto;
          transition: transform 0.3s;
      }
      .list24 {
          margin-top: 10px;
          display: none;
          row-gap: 5px;
      }
      .list24.show24 {
          display: block;
      }
      .head24.open24 .icon24 {
          transform: rotate(180deg);
      }

      /* drop down-25 */
      .container25 {
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
      }
      .head25 {
          display: flex;
          align-items: center;
          cursor: pointer;
      }
      .head25 .title25 {
          padding-right: 20px;
          font-weight: 600;
      }
      .head25 .icon25 {
          width: 10px;
          height: auto;
          transition: transform 0.3s;
      }
      .list24 {
          margin-top: 10px;
          display: none;
          row-gap: 5px;
      }
      .list24.show24 {
          display: block;
      }
      .head24.open24 .icon24 {
          transform: rotate(180deg);
      }

      /* drop down-26 */
      .container26 {
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
      }
      .head26 {
          display: flex;
          align-items: center;
          cursor: pointer;
      }
      .head26 .title26 {
          padding-right: 20px;
          font-weight: 600;
      }
      .head26 .icon26 {
          width: 10px;
          height: auto;
          transition: transform 0.3s;
      }
      .list26 {
          margin-top: 10px;
          display: none;
          row-gap: 5px;
      }
      .list26.show26 {
          display: block;
      }
      .head26.open26 .icon26 {
          transform: rotate(180deg);
      }

      /* drop down-27 */
      .container27 {
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
      }
      .head27 {
          display: flex;
          align-items: center;
          cursor: pointer;
      }
      .head27 .title27 {
          padding-right: 20px;
          font-weight: 600;
      }
      .head27 .icon27 {
          width: 10px;
          height: auto;
          transition: transform 0.3s;
      }
      .list27 {
          margin-top: 10px;
          display: none;
          row-gap: 5px;
      }
      .list27.show27 {
          display: block;
      }
      .head27.open27 .icon27 {
          transform: rotate(180deg);
      }

      /* drop down-28 */
      .container28 {
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
      }
      .head28 {
          display: flex;
          align-items: center;
          cursor: pointer;
      }
      .head28 .title28 {
          padding-right: 20px;
          font-weight: 600;
      }
      .head28 .icon28 {
          width: 10px;
          height: auto;
          transition: transform 0.3s;
      }
      .list28 {
          margin-top: 10px;
          display: none;
          row-gap: 5px;
      }
      .list28.show28 {
          display: block;
      }
      .head28.open28 .icon28 {
          transform: rotate(180deg);
      }

      /* drop down-29 */
      .container29 {
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
      }
      .head29 {
          display: flex;
          align-items: center;
          cursor: pointer;
      }
      .head29 .title29 {
          padding-right: 20px;
          font-weight: 600;
      }
      .head29 .icon29 {
          width: 10px;
          height: auto;
          transition: transform 0.3s;
      }
      .list29 {
          margin-top: 10px;
          display: none;
          row-gap: 5px;
      }
      .list29.show29 {
          display: block;
      }
      .head29.open29 .icon29 {
          transform: rotate(180deg);
      }

      /* drop down-29 */
      .container30 {
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
      }
      .head30 {
          display: flex;
          align-items: center;
          cursor: pointer;
      }
      .head30 .title30 {
          padding-right: 20px;
          font-weight: 600;
      }
      .head30 .icon30 {
          width: 10px;
          height: auto;
          transition: transform 0.3s;
      }
      .list30 {
          margin-top: 10px;
          display: none;
          row-gap: 5px;
      }
      .list30.show30 {
          display: block;
      }
      .head30.open30 .icon30 {
          transform: rotate(180deg);
      }

      

      /* pdf */
      .containerpdf {
        max-width: 600px;
        margin: 0 auto;
        background: white;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }
      .headerpdf {
          display: flex;
          align-items: center;
          margin-bottom: 10px;
      }
      .headerpdf img {
          width: 24px;
          height: 24px;
          margin-right: 10px;
      }
      .resourcespdf {
          list-style-type: none;
          padding: 0;
      }
      .resourcespdf li {
          margin-bottom: 10px;
      }
      .resourcespdf a {
          text-decoration: none;
          color: #E36B4A;
          font-size: 16px;
      }
      .resourcespdf a:hover {
          text-decoration: underline;
      }
  }

  .ag-timeline-card_title {
    display: none;
    margin: 10px 0 0;
  
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 28px;
    color: #E36B4A;
  }
  .ag-timeline-card_desc {
    line-height: 1.45;
    margin-top: 5px;
    font-size: 16px;
    color: #000;
    font-weight: 500;
  }


  
  
  @media only screen and (max-width: 979px) {
    .ag-timeline_line {
      left: 30px;
    }
  
    .ag-timeline_item:nth-child(2n) {
      text-align: left;
    }
  
    .ag-timeline-card_box,
    .ag-timeline_item:nth-child(2n) .ag-timeline-card_box {
      padding: 0 0 20px;
    }
    .ag-timeline-card_meta-box {
      display: none;
    }
    .ag-timeline-card_point-box,
    .ag-timeline_item:nth-child(2n) .ag-timeline-card_point-box {
      margin: 0 0 0 8px;
    }
    .ag-timeline-card_point {
      height: 40px;
      line-height: 40px;
      width: 40px;
    }
    .ag-timeline-card_item {
      width: auto;
      margin: -65px 0 0 75px
    }
    .ag-timeline_item:nth-child(2n+1) .ag-timeline-card_item,
    .ag-timeline_item:nth-child(2n) .ag-timeline-card_item {
      -webkit-transform: translateX(200%);
      -moz-transform: translateX(200%);
      -ms-transform: translateX(200%);
      -o-transform: translateX(200%);
      transform: translateX(200%);
    }
    .ag-timeline_item:nth-child(2n+1) .ag-timeline-card_arrow {
      right: auto;
      left: 0;
    }
    .ag-timeline-card_title {
      display: block;
    }
    .ag-timeline-card_arrow {
      margin-top: 12px;
    }
  }
  
  @media only screen and (max-width: 767px) {
    .ag-format-container {
      width: 96%;
    }
  
    .ag-timeline-card_img {
      height: auto;
      width: auto;
    }
  }
  
  @media only screen and (max-width: 639px) {
    .ag-timeline_title {
      font-size: 60px;
    }
  
    .ag-timeline-card_info {
      padding: 10px 15px;
    }
    .ag-timeline-card_desc {
      font-size: 14px;
    }
  }
  
  @media only screen and (max-width: 479px) {
  
  }
  
  @media (min-width: 768px) and (max-width: 979px) {
    .ag-format-container {
      width: 750px;
    }
  
  }
  
  @media (min-width: 980px) and (max-width: 1161px) {
    .ag-format-container {
      width: 960px;
    }
  
  }