<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://rawcdn.githack.com/SochavaAG/example-mycode/master/_common/css/reset.css">
    <link rel="stylesheet" href="tire1.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;600;700&amp;display=swap">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>

<body>
  
  <div class="ag-timeline-block" id="info">
    <div class="ag-timeline_title-box">
      <!-- <div class="ag-timeline_title">Swift Action, Strong Protection</div> -->
      <!-- <div class="ag-timeline_tagline">Comprehensive Oil and HNS Spill Response Plan for a Safer Coastline</div> -->
    </div>
    <section class="ag-section">
      <div class="ag-format-container">
        <div class="js-timeline ag-timeline">
          <div class="js-timeline_line ag-timeline_line">
            <div class="js-timeline_line-progress ag-timeline_line-progress"></div>
          </div>
          <div class="ag-timeline_list">
            <div class="js-timeline_item ag-timeline_item">
              <div class="ag-timeline-card_box">
                <div class="js-timeline-card_point-box ag-timeline-card_point-box">
                  <div class="ag-timeline-card_point">01</div>
                </div>
                <div class="ag-timeline-card_meta-box">
                  <div class="ag-timeline-card_meta">Tier 01</div>
                  
                </div>
              </div>
              <div class="ag-timeline-card_item">
                <div class="ag-timeline-card_inner">
                  <div class="ag-timeline-card_img-box">
                    <img src="/assets/background2.png" class="ag-timeline-card_img" width="640" height="360" />
                    
                  </div>
                  <div class="ag-timeline-card_info">
                    <div class="ag-timeline-card_title">Tier 01</div>
                    <!-- <div class="parent-grid">
                      <div class="div1">
                        <img src="/assets/div1.png" alt="" width="30px" height="30px">
                        <p>​Ship<br> Incidents</p>
                      </div>
                      <div class="div2">
                        <img src="/assets/div2.png" alt="" width="30px" height="30px">
                        <p>Tank Farm<br> Accidents</p>
                      </div>
                      <div class="div3">
                        <img src="/assets/div3.png" alt="" width="30px" height="30px">
                        <p>Pipeline<br> damage​</p>
                      </div>
                      <div class="div4">
                        <img src="/assets/div4.png" alt="" width="30px" height="30px">
                        <p>Boat<br> Accidents​</p>
                      </div>
                      <div class="div5">
                        <img src="/assets/div5.png" alt="" width="30px" height="30px">
                        <p>Aircraft<br> Accident​​</p>
                      </div>
                      <div class="div6">
                        <img src="/assets/div6.png" alt="" width="30px" height="30px">
                        <p>Natural<br> Disaster​</p>
                      </div>
                      <div class="div7">
                        <img src="/assets/div7.png" alt="" width="30px" height="30px">
                        <p>Inland<br> Sources​</p>
                      </div>
                      <div class="div8">
                        <img src="/assets/div8.png" alt="" width="30px" height="30px">
                        <p>Terrorist<br> Attack</p>
                      </div>
                      </div> -->
                    <div class="ag-timeline-card_desc">
                      According to regulation number 1/2012 activate the current plan to response the oil spill by responsible agency. If the given agencies are not capable in managing the disaster situation the incident will be named as Tier 2.
                    </div>
                    <!-- drop down -->
                    <div class="container37">
                      <div class="head37" data-content-id="content37-0">
                          <div class="title37">NOHSCP Page Reference (P.23)​</div>
                          <!-- <img class="icon37" src="/assets/d-down.png" alt="arrow icon37"> -->
                      </div>
                      <div class="list37" id="content37-0">
                          <strong>Supported Parties:
                            <img src="/assets/logo.png" alt="" width="20px" height="20px">
                          </strong>
                          <!-- <ul>
                              <li> - HNS Mechanism</li>
                              <li> - New agencies included to plan (Chemical Weapon Convention, ITI, CBRN Team)</li>
                          </ul> -->
                      </div>
                    </div>
                    <!-- drop down 2 -->
                    <div class="container37">
                      <div class="head37" data-content-id="content37-1">
                          <div class="title37">Oil Spill Contingency Plan Regulation​</div>
                          <!-- <img class="icon37" src="/assets/d-down.png" alt="arrow icon37"> -->
                      </div>
                      <div class="list37" id="content37-1">
                          <strong>Supported Parties:
                            <img src="/assets/logo.png" alt="" width="20px" height="20px">
                          </strong>
                          <!-- <ul>
                              <li> - HNS Mechanism</li>
                              
                          </ul> -->
                      </div>
                    </div>

                    <!-- drop down 3 -->
                    <div class="container37">
                      <div class="head37" data-content-id="content37-2">
                          <div class="title37">Procedure for Tier 01 level spill outside of the agencies jurisdiction</div>
                          <!-- <img class="icon37" src="/assets/d-down.png" alt="arrow icon37"> -->
                      </div>
                      <div class="list37" id="content37-2">
                          <strong>Supported Parties:
                            <img src="/assets/92.png" alt="" width="20px" height="20px">
                            <img src="/assets/Ceylon_Petroleum_Corporation_logo.png" alt="" width="20px" height="20px">
                            <img src="/assets/90.png" alt="" width="20px" height="20px">
                            <img src="/assets/88.png" alt="" width="20px" height="20px">
                            <img src="/assets/CPSTL.png" alt="" width="20px" height="20px">
                            <img src="/assets/83.png" alt="" width="20px" height="20px">
                            <img src="/assets/93.png" alt="" width="20px" height="20px">
                            <img src="/assets/litro.png" alt="" width="20px" height="20px">
                            <img src="/assets/91.png" alt="" width="20px" height="20px">
                            <img src="/assets/87.png" alt="" width="20px" height="20px">
                            <img src="/assets/SLPA.png" alt="" width="20px" height="20px">
                            <img src="/assets/94.png" alt="" width="20px" height="20px">
                          </strong>
                          <ul>
                              <!-- <li> - What is the available HNS plan of SLPA/​</li> -->
                              <!-- <li> - Are any other agencies required to manage the Tier I HNS Plan?</li> -->
                          </ul>
                      </div>
                    </div>

                    <!-- drop down 4 -->
                    <div class="container37">
                      <div class="head37" data-content-id="content37-3">
                          <div class="title37">Other relevant agencies' responsibilities for Tier 01 level spill outside of the agency's jurisdiction​</div>
                          <!-- <img class="icon37" src="/assets/d-down.png" alt="arrow icon37"> -->
                      </div>
                      <div class="list37" id="content37-3">
                          <strong>Supported Parties:
                            <img src="/assets/Sri_Lanka_Naval_Seal-2 4.png" alt="" width="20px" height="20px">
                            <img src="/assets/L6.png" alt="" width="20px" height="20px">
                            <img src="/assets/SLPA.png" alt="" width="20px" height="20px">
                            <img src="/assets/nara-logo.png" alt="" width="20px" height="20px">
                          </strong>
                          <ul>
                              <!-- <li> - What are the Tier I responsibilities of SLN, SLCG, SLPA and NARA​</li> -->
                              
                          </ul>
                      </div>
                    </div>

                    <!-- pdf -->
                    <div class="containerpdf">
                      <div class="headerpdf">
                          <img src="/assets/noto_books.png" alt="Resources icon">
                          <h2>Resources</h2>
                      </div>
                      <ul class="resourcespdf">
                          <li><a href="/assets/sample.pdf" download="Available Tier 01 Plans (CPC, CPSTL, IOC, Prima, etc.).pdf">Available Tier 01 Plans (CPC, CPSTL, IOC, Prima, etc.).pdf</a></li>
                          
                      </ul>
                  </div>

                  <!--  -->
                  </div>
                </div>
                <div class="ag-timeline-card_arrow"></div>
              </div>
            </div>

            

            


          </div>
        </div>
      </div>
    </section>
  </div>

</body>

    

    <!-- script section -->
<script>

(function ($) {
  $(function () {


    $(window).on('scroll', function () {
      fnOnScroll();
    });

    $(window).on('resize', function () {
      fnOnResize();
    });


    var agTimeline = $('.js-timeline'),
      agTimelineLine = $('.js-timeline_line'),
      agTimelineLineProgress = $('.js-timeline_line-progress'),
      agTimelinePoint = $('.js-timeline-card_point-box'),
      agTimelineItem = $('.js-timeline_item'),
      agOuterHeight = $(window).outerHeight(),
      agHeight = $(window).height(),
      f = -1,
      agFlag = false;

    function fnOnScroll() {
      agPosY = $(window).scrollTop();

      fnUpdateFrame();
    }

    function fnOnResize() {
      agPosY = $(window).scrollTop();
      agHeight = $(window).height();

      fnUpdateFrame();
    }

    function fnUpdateWindow() {
      agFlag = false;

      agTimelineLine.css({
        top: agTimelineItem.first().find(agTimelinePoint).offset().top - agTimelineItem.first().offset().top,
        bottom: agTimeline.offset().top + agTimeline.outerHeight() - agTimelineItem.last().find(agTimelinePoint).offset().top
      });

      f !== agPosY && (f = agPosY, agHeight, fnUpdateProgress());
    }

    function fnUpdateProgress() {
      var agTop = agTimelineItem.last().find(agTimelinePoint).offset().top;

      i = agTop + agPosY - $(window).scrollTop();
      a = agTimelineLineProgress.offset().top + agPosY - $(window).scrollTop();
      n = agPosY - a + agOuterHeight / 2;
      i <= agPosY + agOuterHeight / 2 && (n = i - a);
      agTimelineLineProgress.css({height: n + "px"});

      agTimelineItem.each(function () {
        var agTop = $(this).find(agTimelinePoint).offset().top;

        (agTop + agPosY - $(window).scrollTop()) < agPosY + .5 * agOuterHeight ? $(this).addClass('js-ag-active') : $(this).removeClass('js-ag-active');
      })
    }

    function fnUpdateFrame() {
      agFlag || requestAnimationFrame(fnUpdateWindow);
      agFlag = true;
    }


  });
})(jQuery);

// drop down 1

document.addEventListener('DOMContentLoaded', function() {
        document.addEventListener('click', function(event) {
            var head = event.target.closest('.head37');
            if (head) {
                var contentId = head.getAttribute('data-content-id');
                toggleContent(contentId, head);
            }
        });
    });

    function toggleContent(contentId, headElement) {
        var content = document.getElementById(contentId);
        if (content) {
            content.classList.toggle('show37');
            headElement.classList.toggle('open37');
        } else {
            console.error('Content element not found:', contentId);
        }
    }


</script>
</body>
</html>